<!DOCTYPE html>
<html>
<head>
    <title>Auto Book Golf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Auto Book Golf</h1>
        <form method="post" action="/" class="form login-form">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <label>Club Name</label>
            <input type="text" name="club" required>

            <button class="btn-primary" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
